<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>poker_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1746},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1528},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1746},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1310},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1528},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,1746},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1092},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1310},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,1528},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1746},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,874},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1092},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,1310},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1528},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1746},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,656},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,874},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,1092},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1310},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1528},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1746},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,438},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,656},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,874},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1092},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1310},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1528},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,220},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,438},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,656},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,874},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1092},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1310},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,220},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,438},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,656},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,874},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1092},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,220},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,438},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,656},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,220},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,438},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,220},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
            <key>poker_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,216}}</string>
                <key>sourceSize</key>
                <string>{157,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:350bab179ab1353b2918c89f48cd1b9c:1/1$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
