<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>E00E.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,60},{56,60}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{56,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E02B.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{38,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{38,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E04F.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{56,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{56,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E051.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,60},{56,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{56,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E052.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,456},{62,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{62,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E053.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{58,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{58,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E056.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,450},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E057.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,386},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E058.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,322},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E059.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,258},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E105.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,194},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E106.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,130},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E107.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,64},{58,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{58,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E252.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,266},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E401.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,66},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E402.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E403.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,450},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E404.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,386},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E405.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,322},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E406.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,258},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E407.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,194},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E408.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,130},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E409.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,66},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E40A.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E40B.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,390},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E40C.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,326},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E40D.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,392},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E40E.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,262},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E40F.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,328},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E410.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,394},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E411.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,198},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E412.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,264},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E413.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,330},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E414.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,396},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E415.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E416.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,134},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E417.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,200},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E418.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{64,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E41D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E41F.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E420.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{46,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{46,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E421.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{56,60}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{56,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E428.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E52B.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,454},{62,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E52D.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{56,60}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>E52E.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,64},{54,56}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{54,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>emoji.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa449e33c9b4568d62ed26bf6cc7de88$</string>
            <key>textureFileName</key>
            <string>emoji.png</string>
        </dict>
    </dict>
</plist>
